---
import type { MarkdownHeading } from "astro";
import type { CollectionEntry } from "astro:content";
import HeadCommon from "../components/HeadCommon.astro";
import HeadSEO from "../components/HeadSEO.astro";
import Header from "../components/Header/Header.astro";
import PageContent from "../components/PageContent/PageContent.astro";
import LeftSidebar from "../components/LeftSidebar/LeftSidebar.astro";
import Footer from "../components/Footer/Footer.astro";
import { GITHUB_EDIT_URL, SITE } from "../consts";

import GoogleAnalytics from "../components/GoogleAnalytics.astro";

type Props = CollectionEntry<"docs">["data"] & {
  headings: MarkdownHeading[];
};

const { headings, ...data } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const currentFile = `src/content/docs${currentPage.replace(/\/$/, "")}.md`;
const githubEditUrl = `${GITHUB_EDIT_URL}/${currentFile}`;


---

<html dir={data.dir} lang={data.lang} class="initial">
  <head>
    <HeadCommon />
    <HeadSEO {...data} canonicalUrl={canonicalURL} />
    <GoogleAnalytics />
    <title>
      {`${data.title} 🚀 ${"Harsh Avinash"}`}
    </title>
    <style>
      body {
        width: 100%;
        display: grid;
        grid-template-rows: var(--theme-navbar-height) 1fr;
        --gutter: 0.5rem;
        --doc-padding: 2rem;
      }

      .layout {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: auto;
        overflow-x: hidden;
      }

      .grid-sidebar {
        height: 100vh;
        position: sticky;
        top: 0;
        padding: 0;
        width: 100%;
      }

      #grid-left {
        position: fixed;
        background-color: var(--theme-bg);
        z-index: 10;
        display: none;
        width: 100%;
      }

      #grid-main {
        padding: var(--doc-padding) var(--gutter);
        grid-column: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
      }

      @media (min-width: 50em) {
        .layout {
          overflow: initial;
          grid-template-columns: 350px auto;
          gap: 1em;
        }

        #grid-left {
          display: flex;
          padding-left: 2rem;
          position: sticky;
          grid-column: 1;
          width: 350px;
        }

        #grid-main {
          grid-column: 2;
          width: auto;
        }
      }

      @media (min-width: 72em) {
        .layout {
          grid-template-columns: 350px auto;
          padding-left: 0;
          padding-right: 0;
          margin: 0 auto;
        }

        #grid-main {
          width: 1000px;
        }
      }

      @media (max-width: 72em) {
        #grid-main {
          width: 100%;
        }
      }
    </style>
  </head>
  <body>
    <Header currentPage={currentPage} />
    <!-- <button id="sidebar-toggle">Toggle Sidebar</button> -->
    <main class="layout">
      <aside id="grid-left" class="grid-sidebar" title="Site Navigation">
        <LeftSidebar currentPage={currentPage} />
      </aside>
      <div id="grid-main">
        <PageContent
          title={data.title}
          headings={headings}
          githubEditUrl={githubEditUrl}
        >
          <slot />
        </PageContent>
      </div>
    </main>
    <Footer path={currentFile} />
    <script>
      document
        .getElementById("sidebar-toggle")
        .addEventListener("click", function () {
          var sidebar = document.getElementById("grid-left");
          if (sidebar.style.display === "none") {
            sidebar.style.display = "flex";
          } else {
            sidebar.style.display = "none";
          }
        });
    </script>
  </body>
</html>
